th,td,table{
border: 1px solid white;
border-collapse:collapse;
padding: 10px;
font-family:Arial, Helvetica, sans-serif;
}
table{
  text-align: center;
  text-decoration:solid;
  position: relative;
  top:50px;
  left:20%;
  width: 60%;
  margin-bottom: 20%;
}
td{
  color:white;
  padding:20px;
}
th{
  background-color: white;
}
#emp{
color:white;
position:relative;
left:20%;
}
.opt{
  padding:10px;
  border:none;
  border-radius:5px;
  border:1px solid black;
}
.select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-left: 20%;
  flex-wrap: wrap; 
}

.role{
  padding:10px;
  position:relative;
  left:1%;
  border-radius:5px;
  display: inline;
  border:1px black solid;
}
.pro{
  padding: 10px;
  position:relative;
  left:2%;
  border-radius:5px;
  border:black 1px solid;
}
.fil, .clr {
  padding: 8px 20px;
  padding-top: 10px;
  border-radius: 5px;
  border: 1px solid dimgrey;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.fil {
  background-color: rgb(3, 3, 79);
  border:2px rgb(3, 3, 79)solid;
}
.clr {
  background-color: dimgrey;
}
.fil:hover, .clr:hover {
  opacity: 0.9;
}
.head {
  height: auto;       
  overflow-y: none;    
}
body {
  background: linear-gradient(to right, rgb(143, 51, 80), black);
  overflow-x: hidden;
}
.multi-select {
  position: relative;
  width: 220px;
  margin-right: 10px;
  font-family: sans-serif;
}

.dropdown-header {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
  z-index: 10;
  padding: 8px;
}

.search-box {
  width: 100%;
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding-right:0px;
}

.options-container {
  max-height: 150px;
  overflow-y: auto;
  padding-right: 4px;
}
.dropdown-option {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4px;
  font-size: 14px;
}
.select-all {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 6px;
  font-weight: 500;
}
input[type="checkbox"] {
  accent-color:rgb(3, 3, 79);
}
